{#{% extends 'PdnsBundle::records.html.twig' %}#}
{% extends 'base.html.twig' %}
{% use 'bootstrap.html.twig' %}


{% block javascripts %}
    {{parent()}}
    {% javascripts '@PdnsBundle/Resources/js/common.js' 
                   '@PdnsBundle/Resources/js/zone.js'%}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
        {{parent()}}
        {% stylesheets '@PdnsBundle/Resources/css/pdns.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" />    
        {% endstylesheets %}
{% endblock %}     


{% block body %}
    {#{{dump(zones)}}#}
    {% if(app.environment == 'dev') %}
        {% set ajaxurl = '/app_dev.php/pdns/record/update' %}
        {% set urlprefix = '/app_dev.php' %}
    {% else %}
        {% set ajaxurl = '/pdns/record/update' %}
        {% set urlprefix = '' %}
    {% endif %}
    {{parent()}}
    <div class="pdns-status-message">
        <div class="alert">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <span></span>
        </div>
    </div>
    <div id="zone-table-list">
        <button type="button" class="btn btn-default btn-xs add-zone-button"><span class="glyphicon glyphicon-plus"></span>Add</button>

        <table class="table table-bordered table-condensed table-hover stickyHeader rrsets" id="zonelist-table">
            <thead>
                <tr>
                    <th>Zone name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% block tablerow %}
                    {% for row,zone in zones %}
                        <tr id="{{zone.domain}}" class="{%if zones|length == (row + 1) %}last-row{% endif %}">
                            <td><a class="zone-id" href="{{urlprefix}}/pdns/zones/{{zone.domain}}">{{zone.domain}}</a></td>
                            <td class="actions">
                                <button type="button" class="removal-button btn btn-default" data-zone_id="{{zone.domain}}" ><span class="glyphicon glyphicon-trash"></span>Delete</button>
                                {%if zones|length == (row + 1) %}
                                    <button type="button" class="add-zone-button" class="new-zone btn btn-default"><span class="glyphicon glyphicon-plus">Add</span></button>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% endblock %}
            </tbody>
        </table>
    </div>
{% endblock %}




