{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}


 <form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
         
        <div class="login-container">
           <div class="title-container">
            <div class="heading">Login to Your Account</div>
          </div>
            <form>
              <div class="input-box">
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" placeholder={{ 'username'|trans }} />
              </div>
              <div class="input-box">
                <input type="password" id="password" name="_password" required="required" placeholder={{ 'password'|trans }} />
              </div>
              <div class="remember-me input-box">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                 <label for="remember_me">{{ 'Remember Me'|trans }}</label>
              </div>
             <div class="submit-btn">
                <input type="submit" class="login login-submit" id="_submit" name="_submit" value="{{ 'Login'|trans }}" />
             </div>
            </form>   
               <div class="login-help">
                <a href="{{ path('fos_user_registration_register') }}">Register</a> - <a href="{{ path('fos_user_resetting_request') }}">Forgot Password</a>
               </div>    
        </div>
</form>
